footer {
    background-color: #F2F3F5;
}

.footer-flex {
    display: flex;
    border-bottom: 1px solid #CECECE;
    @include respond-to('medium') {
        flex-direction: column;
        align-items: center;
    }

    .footer-content {
        width: calc(33.33% - 25px);
        margin-right: 25px;
        padding: 52px 0;
        color: $primary-dark;
        font-weight: $light;
        line-height: $primary-line-height;
        font-size: $primary-body-font;
        @include respond-to('medium') {
            font-size: $primary-body-font * 1.5;
            width: 100%;
            padding: 52px;
            text-align: center;
            margin: 0;
        }

        h4 {
            text-transform: uppercase;
            text-align: left;
            color: $secondary-dark;
            font-size: $primary-body-font;
            font-weight: $regular;
            line-height: $secondary-line-height;
            @include respond-to('medium') {
                font-size: $primary-body-font * 1.5;
                text-align: center;
            }
        }
    }
}

.footer-nav a {
    color: $primary-dark;

    &:hover {
        color: #8785FF;
    }
}

.social-icons ul {
    display: flex;
    flex-wrap: wrap;
    @include respond-to('medium') {
        justify-content: center;
    }

    li {
        margin-right: 10px;
        transition: all 0.5s;
        &:hover {
            transform: scale(1.5);
        }
    }
}

.fb-icon .fa-circle {
    color: $facebook-colour;
}

.twitter-icon .fa-circle {
    color: $twitter-colour;
}

.google-icon .fa-circle {
    color: $google-colour;
}

.contact-list {
    li:first-child::before {
        font-family: 'FontAwesome';
        content: '\f041';
        margin: 0 5px 0 -15px;
        color: #AFAFAF;
    }

    li:nth-child(2)::before {
        font-family: 'FontAwesome';
        content: '\f095';
        margin: 0 5px 0 -15px;
        color: #AFAFAF;
    }

    li:nth-child(3)::before {
        font-family: 'FontAwesome';
        content: '\f0e0';
        margin: 0 5px 0 -15px;
        color: #AFAFAF;
    }
}

.copyright {
    display: block;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-family: $secondary-font;
    color: #AFAFAF;
    font-size: $primary-body-font;
    font-weight: $light;
    line-height: $secondary-line-height;
}