 //***********************************************/
//*******************COLOURS*********************/
//***********************************************/
$primary-blue: #23B7EF; //FOR HEADERS
$secondary-blue: #14ABF4; //FOR BUTTON COPY & NUMBERS
$tertiary-blue: #1CA8DD; //FOR WHITE BUTTON COPY ONLY
$primary-light: #FFFFFF; //FOR ALL LIGHT-COLOURED COPY & BUTTON COLOUR*/
$primary-dark: #6D6D6D; //FOR MOST DARK-COLOURED COPY
$secondary-dark: #4F4F4F; //FOR SOME SECTION CONTENT SUB-HEADERS*/
$body-grey: #F8F8F8; //FOR SOME SECTIONS
$button-grey: #949494;
$footer-grey: #F2F3F5;

//BRAND COLOURS
$facebook-colour: #225B99;
$twitter-colour: #00ADF2;
$google-colour: #DC4D2D;

//***********************************************/
//**************FONTS FAMIILES*******************/
//***********************************************/
$primary-font: 'Open Sans',
sans-serif;
$secondary-font: 'Ubuntu',
sans-serif;

//***********************************************/
//**************FONTS WEIGHTS********************/
//***********************************************/
$light: 300;
$regular: 400;
$bold: 600;

//***********************************************/
//**************BASE FONT SIZES******************/
//***********************************************/
$primary-header-font: 3.13rem;
$secondary-header-font: 2.5rem;
$tertiary-header-font: 1.88rem;

$primary-subheading-font: 1.38rem;

$primary-body-font: 0.88rem;
$primary-stats-font: 2.82rem;
$pricing-number-font: 3.75rem;

//***********************************************/
//**************LINE HEIGHT**********************/
//***********************************************/
$primary-line-height: 26px;
$secondary-line-height: 22px;
$tertiary-line-height: 30px;

//***********************************************/
//**************BORDER RADIUS********************/
//***********************************************/
$button-radius: 5px;
$card-radius: 12px;